<div>
  <h1>Sign Up</h1>
  <form>
    User Name: <input type="text"><br><br>
    First Name: <input type="text"><br><br>
    Last Name: <input type="text"><br><br>
    Password: <input type="password"><br><br>
    Confirm Password: <input type="password"><br><br>
    Country: <select>
    <option>India</option>
    <option>USA</option>
    <option>UK</option>
  </select><br><br>
    Mobile Number: <input type="number"><br><br>
    Email: <input type="email"><br><br>
    Subscription Package: <select>
    <option>Signal</option>
    <option>Trading Guide</option>
    <option>Complete</option>
  </select><br><br>
    Subscription Duration: <select>
    <option>Monthly</option>
    <option>Quarterly</option>
    <option>Half Yearly</option>
  </select><br><br>
    Coupon Code(optional): <input type="text"><br><br>
    Account Size: <select>
    <option>Below 3k</option>
    <option>Above 3k</option>
  </select><br><br>

    <input type="submit" value="Sign Up" routerLink="success">
  </form>
  <br>
  Already have an account, <a routerLink="/login">Sign In</a>
</div>
